
.moreabout{
    top: 30px;
    text-align: center;
    text-decoration: none;
 }

.img_moreabout{
    width: 400px;
    padding: 90px 50px 90px 180px;
}

.manifesto{
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 50px;
}

.manifesmanifesto___paragrafo, p{
    width: 600px;
   }


.chamada{
    width: 600px;
    padding: 0px 500px 30px 350px;
    color: #5f5f59;
}


.chamada2{
    width: 800px;
    padding: 30px 400px 150px 280px;
    color: #5f5f59;
}
.row{
    width: 800px;
    margin-bottom: 60px;
}

.cardboxMabout{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: right;
    
}

.img_gcardMabout{
    padding-right: 100px;
}
.cardboxMabout{
padding-left: 150px; 
}

