.acervo{
    position: relative;
    top: 15px;
    left: 0;
    /* height: 300px; */
    text-align: center;
    padding-top:50px;
    background-color: rgb(208, 226, 43);
    padding-top: 50px; 
    color: #5f5f59;
    
}


.galery___flex{
    display: flex;
    justify-content: space-around;
    padding: 50px 50px;
}

.galeria__vrock{
    width: 400px; 
    padding: 20px 20px;

}