@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home{
    position: relative;
    z-index: -1;
    left: 0;
    padding-top: 55px;
       
}

.bgimg{
    width: 100vw;
    height: 100%;
}